.odrec { 
  border-left-width: 93px;
  border-right-width: 8px;
  border-top-width: 51px;
  margin-top: 84px;
  padding-top: 47px;
  margin-bottom: 73px;
  border-bottom-width: 80px;
  margin-left: 30px;
  margin-left: 51px;
  font-size: 84px;
  border-bottom-width: 63px;
  border-top-width: 8px;
  border-right-width: 62px;
  line-height: 95px;
}
